<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangyi.reader"
    android:versionCode="56"
    android:versionName="1.0-beta5">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name="com.wangyi.Itone"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.wangyi.UIview.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wangyi.UIview.activity.ItOneActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.artifex.mupdfdemo.MuPDFActivity"
            android:label="@string/app_name"
            android:theme="@style/PDFReaderTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.ms-xpsdocument" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/x-cbz" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.xps" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.artifex.mupdfdemo.OutlineActivity"
            android:label="@string/outline_title"
            android:theme="@style/NoActionBarTheme"></activity>
        <activity
            android:name="com.wangyi.UIview.activity.ScheduleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme"></activity>
        <activity
            android:name="com.wangyi.UIview.activity.CreateLesson"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.ChangeLesson"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.WatchLesson"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.DownloadActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.IdeaBackActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.SettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.MessageActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.GodlistActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.WatchBook"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.WatchUser"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.HowToGetPaiActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.UserInfoActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.SearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.SearchInfoActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.HomeWorkActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.WatchHomework"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.wangyi.UIview.activity.PublishActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />

        <service
            android:name="com.wangyi.service.UpdateService"
            android:enabled="true"></service>
    </application>

</manifest>